html{
    position: relative;
    min-height: 100%;
    }


body{
	width: 100%;
	background-image: url('velo.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	min-height:100%;
	margin: 0 0 px; 
	display : grid;
    }
    
p{
	font-style:italic;
}

footer{
	grid-row:19;
}

.bord{
	border: 1px solid;
	background-color: #0000005F;
	color: white;
	font-size: 125%;
	font-style: italic;
	text-decoration: underline;
	}

#titre{
	font-size: 250%;
	font-weight: bold;
}


.bg_table{
	background-color: #0000005F;
	color: white;
}