	<footer>
        <div class="footer-widget-area gray-bg section-padding pb-125">
            <div class="container">
                <div class="row mtn-40">
                    <div class="col-lg-3 col-md-6">
                        <!-- footer single widget start -->
                        <div class="footer-single-widget mt-40">
                            <div class="widget-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo.png" alt="">
                                </a>
                            </div>
                            <div class="widget-body">
                                <p class="desc">Ideas es to obtain pain of because the because occasionallyght ocean he and chunks as necessary</p>
                                <ul class="contact-info">
                                    <li><span>Address: </span> 56 Sheltek Tower, Cental Mall New Yourk City, USA</li>
                                    <li><span>Phone:</span> 02156 987 456 <br>35621 895 456</li>
                                    <li><span>Web:</span> info@example.com <br>www.example.com</li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer single widget start -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- footer single widget start -->
                        <div class="footer-single-widget mt-40">
                            <h3 class="widget-title">Our Link</h3>
                            <div class="widget-body">
                                <ul class="useful-link">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="index.html">Support</a></li>
                                    <li><a href="index.html">About us</a></li>
                                    <li><a href="index.html">Conditions</a></li>
                                    <li><a href="index.html">Services</a></li>
                                    <li><a href="index.html">Login</a></li>
                                    <li><a href="index.html">Blog Post</a></li>
                                    <li><a href="index.html">Register</a></li>
                                    <li><a href="index.html">Pages</a></li>
                                    <li><a href="index.html">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer single widget start -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- footer single widget start -->
                        <div class="footer-single-widget mt-40">
                            <h3 class="widget-title">Twitter Post</h3>
                            <div class="widget-body">
                                <ul class="twitter-post">
                                    <li>
                                        <a href="#">@Shohel</a>
                                        to obtain pain because of the because oc 25 October, 2019 - 10 am
                                    </li>
                                    <li>
                                        <a href="#">@Rashed</a>
                                        to obtain pain because of the because oc 25 October, 2019 - 10 am
                                    </li>
                                    <li>
                                        <a href="#">@Ahmed</a>
                                        to obtain pain because of the because oc 25 October, 2019 - 10 am
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer single widget start -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- footer single widget start -->
                        <div class="footer-single-widget mt-40">
                            <h3 class="widget-title">Newsletter</h3>
                            <div class="widget-body news-subtitle">
                                <p class="desc">Subscribe our Newsletter because occasionallyght ocean he and he can make some of noise to us</p>
                                <p><b>To get all latest update and news Subscribe our newsletter now!</b></p>
                                <div class="newsletter-inner">
                                    <form id="mc-form">
                                        <input type="email" class="news-field" id="mc-email" autocomplete="off" placeholder="Enter your email here">
                                        <button class="btn btn-all" id="mc-submit">Subscribe</button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </div>
                        </div>
                        <!-- footer single widget start -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright-text text-center">
                    <p>Copyright © <a href="https://youssefLeBoss.com">youssefLeBoss.com</a> 2021</p>
                </div>
            </div>
        </div>
    </footer>