	<footer>
        <div class="footer-widget-area gray-bg section-padding pb-125">
            <div class="container">
                <div class="row mtn-40">
                    <div class="col-lg-3 col-md-6">
                        <!-- footer single widget start -->
                        <div class="footer-single-widget mt-40">
                            <div class="widget-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo.png" alt="">
                                </a>
                            </div>
                            <div class="widget-body">
                                <p class="desc"></p>
                                <ul class="contact-info">
                                    <li><span>Addresse: </span> Toulon</li>
                                    <li><span>Portable:</span>06 89 56 23 12</li>
                                    <li><span>SiteWeb:</span> info@youssef.com </li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer single widget start -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- footer single widget start -->
                        <div class="footer-single-widget mt-40">
                            <h3 class="widget-title">Nos lien</h3>
                            <div class="widget-body">
                                <ul class="useful-link">
                                    <li><a href="#">Mes annonce</a></li>
                                    <li><a href="#">Recherche velo</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer single widget start -->
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <!-- footer single widget start -->
                        <div class="footer-single-widget mt-40">
                            <h3 class="widget-title">Newsletter</h3>
                            <div class="widget-body news-subtitle">
                                <p class="desc">Newsletter</b></p>
                                <div class="newsletter-inner">
                                    <form id="mc-form">
                                        <input type="email" class="news-field" id="mc-email" autocomplete="off" placeholder="Votre mail">
                                        <button class="btn btn-all" id="mc-submit">Inscription</button>
                                    </form>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </div>
                        </div>
                        <!-- footer single widget start -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright-text text-center">
                    <p>Copyright © <a href="https://youssefLeBoss.com">youssefLeBoss.com</a> 2021</p>
                </div>
            </div>
        </div>
    </footer>